h1 {
    text-align: center;
}

div {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
table {
    text-align: center;
    border-collapse: collapse;
}

th {
    background: #6db1fc;
    padding: 10px;
    border: solid 1px;
}

td {
    background: #afeafc;
    padding: 10px;
    border: solid 1px;
}